fastapi
uvicorn
prometheus-client
pydantic
pandas
pyarrow
confluent-kafka
python-dotenv

# Machine learning & math libraries
numpy<2
scipy
scikit-learn
surprise
scikit-surprise
pandera==0.26.1

# Testing & linting
pytest
pytest-cov
flake8
black
