name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests with Coverage
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest --cov=. --cov-report=xml --cov-report=term-missing

      - name: Lint with flake8
        run: flake8

      - name: Check Formatting with black
        run: black --check .

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCLOUD_SERVICE_KEY }}

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Build Docker Image
        run: |
          IMAGE_URI="us-central1-docker.pkg.dev/ml-ai-prod-sal/ml-recs/recommender-api:${{ github.sha }}"
          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV
          docker build -f docker/recommender.Dockerfile -t $IMAGE_URI .

      - name: Push Docker Image
        run: docker push $IMAGE_URI

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy recommender-api \
            --image $IMAGE_URI \
            --region=us-central1 \
            --project=ml-ai-prod-sal \
            --allow-unauthenticated \
            --platform=managed \
            --quiet
